html, body {
    position: relative;
    height: 100%;
}

body {
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    color:#000;
    margin: 0;
    padding: 0;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

a{
    text-decoration: none;
}
.swiper-container {
    width: 100%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
}

.slide_content{
    border: 1px dashed #ffffff;
}

.slide_content img{
    position: absolute;
}

.slide_content > div{
    position: absolute;
}

.con_img1, .con_img2, .con_img3, .con_img4{
    bottom: 40px;
}


/* page1 */
#page1{
    background: #333366;
}

.slide1_img1{
    top: 30%;
    left: 32%;
    width: 36%;
}

.slide1_img7{
    top: -7.5%;
    left: -7.5%;
    width: 15%;
    -webkit-transform: rotate(360deg);
    animation: rotation 3s linear infinite;
    -moz-animation: rotation 3s linear infinite;
    -webkit-animation: rotation 3s linear infinite;
    -o-animation: rotation 3s linear infinite;
}

@keyframes rotation{
    from {transform: rotate(0deg);}
    to {transform: rotate(360deg);}
}

@-moz-keyframes rotation{
    from {-moz-transform: rotate(0deg);}
    to {-moz-transform: rotate(360deg);}
}

@-webkit-keyframes rotation{
    from {-webkit-transform: rotate(0deg);}
    to {-webkit-transform: rotate(360deg);}
}

@-o-keyframes rotation{
    from {-o-transform: rotate(0deg); }
    to {-o-transform: rotate(360deg);}
}


.con_img1{
    left: 15%;
    width: 90%;
}

.con_img1 img{
    position: relative;
}

.slide1_img2, .slide1_img3, .slide1_img5{
    width: 16%;
}

.slide1_img4{
    width: 24%;
}

.slide1_img6{
    width: 8%;
}


/* page2 */

#page2{
    background: #3f406f;
}

.slide2_img1{
    top: 20%;
    left: 27%;
    width: 45%;
}

.con_img2{
    left: 15%;
    width: 95%;
}

.con_img2 img{
    position: relative;
    width: 15%;
    margin: 0 2%;
}

.slide2_img2{
    transform:rotate(10deg);
    -ms-transform:rotate(10deg);
    -moz-transform:rotate(10deg);
    -webkit-transform:rotate(10deg);
    -o-transform:rotate(10deg);
}

.slide2_img3{
    transform:rotate(-20deg);
    -ms-transform:rotate(-20deg);
    -moz-transform:rotate(-20deg);
    -webkit-transform:rotate(-20deg);
    -o-transform:rotate(-20deg);
}

.slide2_img4{
    transform:rotate(5deg);
    -ms-transform:rotate(5deg);
    -moz-transform:rotate(5deg);
    -webkit-transform:rotate(5deg);
    -o-transform:rotate(5deg);
}

.slide2_img5{
    transform:rotate(10deg);
    -ms-transform:rotate(10deg);
    -moz-transform:rotate(10deg);
    -webkit-transform:rotate(10deg);
    -o-transform:rotate(10deg);
}

/* page3 */
#page3{
    background: #52567f;
}

.slide3_img1{
    top: 20%;
    left: 27%;
    width: 45%;
}

.slide3_img2{
    width: 35%;
    left: 32%;
    bottom: 40px;
}

.slide3_img3{
    width: 15%;
    right: 0;
    top: 10%;
}

.slide3_img4{
    width: 20%;
    left: 5%;
    top: 0;
}

.code_div{
    position: absolute;
    top: 40%;
}

.code_ul{
    position: relative;
    float: left;
}

.code_ul li{
    height: 30px;
    line-height: 30px;
    list-style-type: none;
    padding: 0 50px;
    color: #ccc;
}

.code_ul li p{
    display: block;
    margin-left: 50px;
    font-size: 18px;
}


/* page4 */
#page4{
    background: #6a7192;
}

.slide4_img1{
    top: 15%;
    left: 25%;
    width: 45%;
}

.slide4_img2{
    left: 40px;
    bottom: 40px;
    width: 25%;
}

.slide4_img3{
    right: 40px;
    top: 0;
    width: 25%;
}

.works_div{
    position: absolute;
    right: 40px;
    bottom: 40px;
    width: 500px;
    height: 400px;
    background: url("../images/slide4_img4.png") no-repeat;
    background-size: cover;
}

.works_div div{
    float: left;
    margin: 100px 25px 0 0;
}


.works_div div a{
    display: block;
    width: 5px;
    color: #282727;
    font-size: 20px;
    font-family: "Microsoft JhengHei";
}


/* page5 */

#page5{
    background: #828ba5;
}

.slide5_img1{
    top: 15%;
    left: 25%;
    width: 45%;
}

.slide5_img2{
    bottom: 50px;
    left: 25%;
    width: 45%;
}

.clock{
    top: 20%;
}


/* page6 */
#page6{
    background: #9aa7b8;
}

.slide6_img1{
    top: 15%;
    left: 27%;
    width: 45%;
}

.slide6_img2{
    left: 40px;
    bottom: 40px;
}

.slide6_img3{
    left: 40px;
    top: 40px;
}


#page6 .slide_content p{
    width: 200px;
    display: block;
    border-bottom: solid 2px #666666;
    position: absolute;
    color: #666666;
    font-size: 30px;
    letter-spacing: 5px;
    top: 50%;
    left: 50%;
    margin-left: -100px;
    text-align: center;
}

/* page7 */
#page7{
    background: #b0c0ca;
}

.slide7_img1{
    top: 50px;
    left: 40%;
    width: 20%;
}

.slide7_img2{
    top: 50px;
    left: 40px;
    width: 5%;
    transform:rotate(-20deg);
    -ms-transform:rotate(-20deg);
    -moz-transform:rotate(-20deg);
    -webkit-transform:rotate(-20deg);
    -o-transform:rotate(-20deg);
    animation: slide7_extend 3s linear infinite;
    -moz-animation: slide7_extend 3s linear infinite;
    -webkit-animation: slide7_extend 3s linear infinite;
    -o-animation: slide7_extend 3s linear infinite;
}

.slide7_img3{
    bottom: 50px;
    right: 50px;
    width: 15%;
    transform:rotate(-20deg);
    -ms-transform:rotate(-20deg);
    -moz-transform:rotate(-20deg);
    -webkit-transform:rotate(-20deg);
    -o-transform:rotate(-20deg);
    animation: slide7_extend 5s linear infinite;
    -moz-animation: slide7_extend 5s linear infinite;
    -webkit-animation: slide7_extend 5s linear infinite;
    -o-animation: slide7_extend 5s linear infinite;
}

@keyframes slide7_extend
{
    0% {transform: rotate(-20deg);}
    50% {transform: rotate(20deg);}
    100% {transform: rotate(-20deg);}
}

@-moz-keyframes slide7_extend
{
    0% {-moz-transform: rotate(-20deg);}
    50% {-moz-transform: rotate(20deg);}
    100% {-moz-transform: rotate(-20deg);}
}

@-webkit-keyframes slide7_extend
{
    0% {-webkit-transform: rotate(-20deg);}
    50% {-webkit-transform: rotate(20deg);}
    100% {-webkit-transform: rotate(-20deg);}
}

@-o-keyframes slide7_extend
{
    0% {-o-transform: rotate(-20deg);}
    50% {-o-transform: rotate(20deg);}
    100% {-o-transform: rotate(-20deg);}
}

.form_div{
    position: absolute;
    width: 30%;
    left: 35%;
    bottom: 150px;
}

.footer_text{
    position: absolute;
    bottom: 45px;
    color: #999;
}


@media screen and (max-width:1000px) {

    /* page1 */
    .slide1_img2, .slide1_img3, .slide1_img5{
        width: 22%;
    }

    .slide1_img4{
        display: none;
    }

    .slide1_img6{
        width: 15%;
    }


    .slide1_img7{
        top: -15%;
        left: -15%;
        width: 30%;
    }

    /* page2 */
    .slide2_img1{
        top: 28%;
        width: 50%;
    }

    /* page3 */
    .slide3_img1{
        top: 30%;
        left: 22%;
        width: 55%;
    }

    .slide3_img2{
        width: 40%;
        left: 30%;
    }

    .slide3_img3{
        width: 20%;
    }

    .slide3_img4{
        width: 22%;
    }

    .code_div{
        top: 45%;
    }

    .code_ul li{
        padding: 0 30px;
    }

    /* page4 */
    .slide4_img2{
        width: 30%;
    }

    .works_div{
        right: 40px;
        bottom: 70px;
        width: 400px;
        height: 333px;
    }

    .works_div div a{
        width: 5px;
        font-size: 18px;
    }

    /* page5 */
    .slide5_img2{
        left: 20%;
        width: 55%;
    }


    /* page6 */
    .slide6_img1{
        top: 20%;
    }

    /* page7 */

    .form_div{
        width: 50%;
        left: 25%;
    }
}



@media screen and (max-width:700px) {

    /* page1 */
    .slide1_img1{
        top: 35%;
        width: 60%;
        left: 20%;
    }

    .slide1_img2, .slide1_img3, .slide1_img5{
        width: 28%;
    }

    .slide1_img4, .slide1_img6{
      display: none;
    }

    .con_img1{
        left: 12%;
        width: 85%;
    }

    .slide1_img7{
        top: -20%;
        left: -20%;
        width: 50%;
    }

    /* page2 */
    .slide2_img1{
        top: 20%;
        width: 65%;
        left: 17%;
    }

    .con_img2 img{
        position: relative;
        width: 25%;
        margin: 2% 5%;
    }

    .slide2_img4{
        transform:rotate(-5deg);
        -ms-transform:rotate(-5deg);
        -moz-transform:rotate(-5deg);
        -webkit-transform:rotate(-5deg);
        -o-transform:rotate(-5deg);
    }

    /* page3 */
    .slide3_img1{
        left: 15%;
        width: 70%;
    }

    .slide3_img2{
        width: 60%;
        left: 20%;
    }

    .code_ul li p{
        margin-left: 20px;
        font-size: 16px;
    }

    .code_ul li{
        padding: 0 10px;
        font-size: 12px;
    }


    /* page4 */
    .slide4_img1{
        width: 55%;
    }

    .slide4_img2{
        width: 35%;
    }

    .slide4_img3{
        width: 30%;
    }

    .works_div{
        right: 80px;
        bottom: 200px;
        width: 300px;
        height: 250px;
    }

    .works_div div a{
        width: 5px;
        font-size: 16px;
    }

    .works_div div{
        margin: 100px 20px 0 0;
    }

    /* page5 */
    .slide5_img1{
        left: 22%;
        width: 55%;
    }

    .slide5_img2{
        left: 15%;
        width: 70%;
    }

    .clock{
        left: 25%;
    }


    /* page6 */
    .slide6_img1{
        top: 20%;
        left: 20%;
        width: 60%;
    }

    #page6 .slide_content p{
        width: 160px;
        font-size: 26px;
        letter-spacing: 3px;
        top: 50%;
        left: 50%;
        margin-left: -80px;
        text-align: center;
    }


    /* page7 */
    .slide7_img1{
        left: 37%;
        width: 25%;
    }

    .slide7_img2{
        top: 50px;
        left: 40px;
        width: 10%;
    }

}

@media screen and (max-width: 500px){

    /* page3 */
    .slide3_img1{
        left: 10%;
        width: 80%;
    }

    .slide3_img2{
        width: 70%;
        left: 20%;
    }

    .code_ul{
        position: relative;
        clear: both;
        margin: 0;
        padding: 0;
    }

    .code_ul li{
        height: 20px;
        line-height: 20px;
        font-size: 12px;
    }
    
    .code_ul li img{
        height: 20px;
        width: 14px;
    }

    /* page4 */

    .works_div{
        right: 40px;
        top: 30%;
        width: 200px;
        height: 167px;
    }

    .works_div div a{
        width: 4px;
        font-size: 12px;
    }

    .works_div div{
        margin: 80px 15px 0 0;
    }

    /* page6 */
    .slide6_img1{
        top: 25%;
    }


    /* page7 */
    .form_div{
        width: 75%;
        left: 12%;
    }

    .slide7_img1{
        left: 35%;
        width: 30%;
    }

}



/* 表单样式 */
.form-item-block {
    position: relative;
    margin-bottom: 5px;
}

.form-container form input,
.form-container form textarea {
    outline: none !important;
    box-shadow: none !important;
    width: 100%;
    padding: 18px 10px 10px 10px;
    border: none;
    border-bottom: 1px solid #222;
    background-color: transparent;
    font-size: 12px;
    color: #222222;
    font-family: inherit;
    -moz-transition: all 0.2s linear 0s;
    -webkit-transition: all 0.2s linear 0s;
    transition: all 0.2s linear 0s;
}

.form-container form label {
    position: absolute;
    top: 1px;
    left: 1px;
    margin-bottom: 0;
    background: transparent;
    opacity: 1;
    -moz-transition: all 0.2s linear 0s;
    -webkit-transition: all 0.2s linear 0s;
    transition: all 0.2s linear 0s;
}

.form-container form label:before {
    content: "";
    height: 100%;
    display: inline-block;
    vertical-align: middle;
}

.form-container form label span {
    display: inline-block;
    vertical-align: middle;
    padding: 0px 10px;
    margin-top: 5px;
    overflow: hidden;
    max-height: 80px;
}


.form-container form textarea {
    resize: none;
    height: 100px;
    line-height: 20px;
    overflow: hidden;
}

.form-container form textarea + label {
    line-height: 24px;
}

.form-container form input + label {
    height: calc(100% - 2px);
}

.form-container form button {
    width: 100%;
    color: #222;
    border: 1px solid #222;
    background: transparent;
    border-radius: 4px;
    outline: none;
    padding: 10px 20px;
    -moz-transition: all 0.5s linear 0s;
    -webkit-transition: all 0.5s linear 0s;
    transition: all 0.5s linear 0s;
}


.form-container input:focus + label,
.form-container input.active + label,
.form-container textarea:focus + label,
.form-container textarea.active + label {
    margin-top: 5px;
    color: #666;
    font-size: 8px !important;
    font-style: italic;
    left: -6px;
    opacity: 0.6;
}

.form-container textarea:focus + label span,
.form-container textarea.active + label span {
    font-size: 0;
}

.form-container form button:focus,
.form-container form button:hover {
    color: #ffffff;
    background: #222;

}



/* 时钟样式 */

.clock {
    position: absolute;
    margin: 71px;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background: #d96457;
    z-index: 11;
    font-size: 18px;;
    color: #ffffff;
    font-family: Arial;

}

.clock i {
    font-style: normal
}

.hour {
    position: absolute;
}

.hour3 {
    right: 15px;
    top: 50%;
    margin-top: -7px;

}

.hour6 {
    left: 50%;
    bottom: 12px;
    margin-left: -5px;

}

.hour9 {
    left: 15px;
    top: 50%;
    margin-top: -7px;

}

.hour12 {
    left: 50%;
    top: 15px;
    margin-left: -10px;
}


#miao, #fen, #shi {
    position: absolute;
    left: 50%;
    height: 150px;
    width: 8px;
    margin-left: -4px;
}

#miao {
    z-index: 23;
}

#fen {
    z-index: 22;

}

#shi {
    z-index: 21;

}
#shi:after{
    content: "";
    height: 30px;
    width: 3px;
    position: absolute;
    top: 50px;
    left:1px;
    background: #000000;
    border-radius: 8px;
    z-index: -1;
}
#fen:after{
    content: "";
    height: 35px;
    width: 2px;
    position: absolute;
    top: 45px;
    left:5px;
    background: #000000;
    border-radius: 8px;
    z-index: -1;
}
#miao:after{
    content: "";
    height: 50px;
    width: 1px;
    position: absolute;
    top: 35px;
    left:4px;
    background: #000000;
    z-index: -1;

}


@media screen and (max-width: 500px){
    .clock {
        width: 120px;
        height: 120px;
        font-size: 16px;;
    }

    .hour3 {
        right: 10px;
        margin-top: -5px;
    }

    .hour6 {
        bottom: 8px;
        margin-left: -5px;
    }

    .hour9 {
        left: 10px;
        margin-top: -5px;
    }

    .hour12 {
        top: 10px;
        margin-left: -8px;
    }

    #miao, #fen, #shi {
        left: 50%;
        height: 120px;
        width: 12px;
        margin-left: -6px;
    }


    #shi:after{
        height: 30px;
        top: 40px;
        left:3px;

    }
    #fen:after{
        height: 35px;
        top: 35px;
        left:5px;
    }
    #miao:after{
        height: 50px;
        top: 20px;
        left:5px;
    }
}